body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

.sesion_header {
    font-weight: 600;
    font-size: 24px;
}

.container_menu {
    height: 100vh;
    width: 250px;
    background-color: rgb(221, 39, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_menu_body {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_menu_footer {
    position: fixed;
    bottom: 20px;
}

.container_menu_footer:hover h4 {
    color: rgb(221, 39, 221);
}

.container_menu_footer {
    position: fixed;
    bottom: 20px;
}

.container_option_exit {
    width: 150px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: white;
    cursor: pointer;
    padding-left: 15px;
}

.container_option_exit:hover {
    background-color: white;
    border-radius: 20px;
}

.container_option_exit:hover h4 {
    color: red;
}

.container_option_exit:hover svg {
    fill: red;
}


.title_header {
    color: white;
    margin-top: 20px;
}

.container_option {
    width: 150px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: white;
    cursor: pointer;
    padding-left: 15px;
}

.container_option_selected {
    width: 150px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding-left: 15px;
    background-color: white;
    border-radius: 20px;
}

.container_option_selected h4 {
    color: rgb(221, 39, 221);
}

.container_option_selected svg {
    fill: rgb(221, 39, 221);
}

.img_option {
    height: 25px;
    width: 25px;
    fill: white;
}

.description_option {
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
}

.container_page_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_page {
    width: 100%;
    padding: 50px 70px 0px 20px;
}

.container_products {
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 0;
}

h4 {
    font-weight: 200;
}

.chart {
    width: 400px;
    height: 200px;
    background-color: #f2f2f2;
    display: flex;
}

.bar {
    width: 20%;
    background-color: #2196F3;
    margin: 0 5px;
    transition: height 0.5s;
    position: relative;
}

.label {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-size: 12px;
}