/* html {
    min-height: 100%;
    min-width: 100%;
} */

* {
    margin: 0;
    padding: 0;
}

label {
    max-width: 300px;
}

body {
    height: 100%;
    width: 100vw;
}

main {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}

.content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.info {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 15%;
    left: 5%;
    width: 94%;
}

.info > button {
    position: relative;
    left: 50vw;
    width: 190px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(221, 39, 221);
    border: none;
    font-size: 20px;
    color: white;
}

select {
    border: solid rgb(221, 39, 221) 2px;
    border-radius: 15px;
    width: 200px;
    height: 30px;
}

.info > h2 {
    position: relative;
    top: 10px;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

.sesion_header {
    font-weight: 600;
    font-size: 24px;
}

.container_menu {
    height: 100vh;
    width: 250px;
    background-color: rgb(221, 39, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_menu_body {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_menu_footer {
    margin-top: 62vh;
}

.title_header {
    color: white;
    margin-top: 20px;
}

.container_option {
    width: 150px;
    height: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: white;
    cursor: pointer;
    padding-left: 15px;
}

.container_option_selected {
    width: 150px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding-left: 15px;
    background-color: white;
    border-radius: 20px;
}

.container_option_selected h4 {
    color: rgb(221, 39, 221);
}

.container_option_selected svg {
    fill: rgb(221, 39, 221);
}

.img_option {
    height: 25px;
    width: 25px;
    fill: white;
}

.description_option {
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.container_page_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_page {
    width: 100%;
    padding: 50px 70px 0px 20px;
}

.container_products {
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 0;
}

h4 {
    font-weight: 200;
}

.userEntries {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 30%;
    left: 20px;
    width: 100%;
}

.component {
    border: none;
    border-bottom: solid gray 2px;
    width: 500px;
    height: 25px;
}

.firstHalfEntries, .secondHalfEntries {
    position: relative;
    left: 20px;
    max-width: 500px;
}

.firstHalfEntries, .secondHalfEntries > div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.secondHalfEntries {
    position: relative;
    width: 100%;
    height: 100%;
    left: 40px;
}

.seta_icon {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 10px;
}

.seta_icon > h2 {
    position: relative;
    left: 10px;
}